/*This is the style shhet that is applied to the html page, make sure to link this sheet to the head of every html page. if you want to edit the style of text make that change here*/
h1 
{
            text-align: center;
            font-family: Arial;
            background-color: green;
}

html
{
            background-color: #172438;
}

.nav-bar
{
            position:fixed;
            top: 0;
            left: 0;
            z-index: 9999;
            background-color: yellow;
            width: 100%;
            box-shadow: 2px 2px 2px gray;
}
