/*This is the style sheet that is applied to the html page, make sure to link this sheet to the head of every html page. if you want to edit the style of text make that change here*/
h1 
{
    text-align: center;
    font-family: Arial;
    background-color: green;
}

html
{
    background-color: #181a1e;
    font-family: "Trebuchet MS", "Lucida San Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.nav-bar
{
    display: flex;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #f2d634;
    width: 100%;
    font-size: 30px;
    align-items: center;
}

section
{
    margin-top: 200px; 
}

#logo
{
    width: 150px;
}

marquee
{
    font-size: 40px; 
    background-color: lightblue;
}

a
{
    font: bold;
    color: black;
    text-decoration: none;
}

a:hover
{
    font: bold;
    color: #6fa9de;
    text-decoration: none;
}

a:active
{
    font: bold;
    color: white;
    text-decoration: none;
}