/*This is the style sheet that is applied to the html page, make sure to link this sheet to the head of every html page. if you want to edit the style of text make that change here*/
h1 
{
    font: bold 50px;
    text-align: center;
    color: #f2d634;
    font-size: 30px;
}

.content h2, .content h3
{
    color:#f2d634;
    font: bold;
}

html
{
    background-color: #181a1e;
    font-family: "Trebuchet MS", "Lucida San Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    max-width: 100%;
}

section ul
{
    color: #6fa9de;
    font-size: 20px;
    font: bold;
}

section
{
    padding: 50px 75px 50px 75px;
}

.nav-bar
{
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #f2d634;
    width: 100%;
    font-size: 30px;
    align-items: center;
}

.navText ul
{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    
}

section
{
    margin-top: 100px;
}

#logo
{
    width: 100px;
}

marquee
{
    font-size: 40px; 
    background-color: lightblue;
}

a
{
    font: bold;
    color: black;
    text-decoration: none;
}

a:hover
{
    font: bold;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

p
{
    color: #6fa9de;
    font-size: 20px;
    font: bold;
}

p a
{
    color:white;
}

p a:hover
{
    color:#f2d634;
    transition: 0.3s;
}

.footerContainer
{
    width: 100%;
    padding: 70px 30px 20px ;
}

@media (max-width: 700px)
{
    .navText ul
    {
        flex-direction: column;
    }
} 

footer
{
    background-color: #f2d634;
    width: 100%;

}

.footerNav
{
    width: 100%;
}

.footerNav ul
{
    display: flex;
    list-style-type: none;
    flex-direction: column;
}

.footerNav li
{
    margin: 20px;
    display: flex;
}

.socialIcon
{
    display: flex;
    justify-content: center;
    border-radius: 100%;
}

#socialsHeader
{
    display: flex;
    justify-content: center;
}

body
{
    margin: 0px;
    min-height: 100vh
}

.navText li
{
    margin: 20px;
}

html, body 
{
    height: 100%;
    overflow: scroll;
}

footer 
{
    height: 100%;
    flex: 1
}

.footerBottom
{
    align-items: bottom;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#footerNavHeader
{
    display:flex
}